body{
    background-color: rgb(102, 168, 170);
    color: #000;
}

header{
    background-color: rgb(81, 138, 160);
    padding: 1rem;
    display: inline-flex;
    align-items: center;
}

nav ul li{
    display: inline-block;
    margin-right: 1rem;
    
}

nav ul li a{
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: rgb(115, 130, 180);

}

.menu-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 25px;
    margin-right: 5px;
    display: inline-flex;
}

.male-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 25px;
    margin-right: 5px;
    display: inline-flex;
    
}

.female-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 25px;
    margin-right: 5px;
    display: inline-flex;
}

.kid-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 25px;
    margin-right: 5px;
    display: inline-flex;
}

.adult-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 25px;
    margin-right: 5px;
    display: inline-flex;
}

.Gifts-for{
    display: flex;
    padding: 50px;
    max-width: 300px;

}

.Gifts-for .them .center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
